@model IEnumerable<GCSS.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Tam">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Tam">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Tam">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-controller="Vehicles" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <br />
    <button #myLink type="submit" class="btn btn-default">Upload File</button>
</form>
<form asp-action="DownloadMPR">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <input #myLink type="submit" value="Download MPR" class="btn btn-default"/>
</div>
</form>
