@model SpearAutomation.Models.Logger.Model.EventLog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
